@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto/Roboto.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Francisco';
    src: url('./fonts/San\ Francisco\ Pro\ Display/SF-Pro-Display-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    background-image: url('./bg.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    font-family: 'Francisco', sans-serif;
}

.close-button {
    margin-top: 30px;
    margin-left: 10px;
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: gray;
    opacity: 0.9;
}

.line1 {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.line2 {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.lng-main {
    font-family: 'Francisco', sans-serif;
    /*margin-top: 200px;*/
    color: #FFFFFF;
    font-weight: 800;
    font-size: 42px;
    line-height: 46px;
    letter-spacing: 0px;
    text-align: center;
}

.feratures {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.art {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Francisco', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: start;
    padding: 6px;
    margin: 3px;
    color: rgba(255, 255, 255, 1);
    width: 30%;
    height: 146px;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.buttons {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
}

.button {
    color: rgba(255, 255, 255, 1);
    border: none;
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 1;
    border-radius: 100px;
    padding: 0 18px;
}

.button>* {
    text-align-last: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lng-earlyText,
.lng-weeklyText {
    text-transform: uppercase;
}

.lng-earlyPrice {
    opacity: 0.7;
}

.lng-earlyPriceRight {
    opacity: 0.7;
    padding-right: 20px;
}

.lng-weeklyPrice {
    opacity: 0.7;
    padding-right: 20px;
    position: relative;
}

#yearlyAccess {
    background-color: #242130;
    margin-top: 15%;
    position: relative;
}
#weeklyAccess {
    background-color: #54535a;
    border: 1px solid rgba(255, 255, 255, 1);
    backdrop-filter: blur(10.873126983642578px);
}
/*#yearlyAccess::before {
    content: "";
    width: 200px;
    position: absolute;
    top: -1px;
    left: 30%;
    right: 0;
    border: 1px solid transparent;
    border-radius: 200px;
    border-image-slice: 1;
    animation: borderAnimation 10s infinite linear;
}*/
#continue {
    display: block;
    font-family: 'Francisco', sans-serif;
    font-weight: 590;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    opacity: 1;
    gap: 10px;
    color: rgba(7, 11, 51, 1);
    background-color: rgba(255, 255, 255, 1);
}
.best_offer {
    background: linear-gradient(90deg, #BC1FEF 0%, #0035FF 100%);
    border: 1px solid transparent; 
    color: rgba(255, 255, 255, 1);
    width: 115px;
    height: 20px;
    position: absolute;
    margin-top: -22px;
    margin-left: -26px;
    box-sizing: border-box;
    font-family: 'Roboto, sans-serif';
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; 
    display: flex;
    justify-content: center;
    align-items: center;
    animation: borderAnimation 10s infinite; 
}

@keyframes borderAnimation {
    0% {
        border-color: #00B5FF; 
    }
    25% {
        border-color: #632AF7; 
    }
    50% {
        border-color: #FF96F4; 
    }
    75% {
        border-color: #BC1FEF; 
    }
    100% {
        border-color: #00B5FF; 
    }
}

footer {
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerLinks {
    font-family: 'Francisco', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-weight: 200;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    opacity: 0.3;
}